<header>
    <a href="/">{{ metadata.title }}</a>

  <nav>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/books/">Books</a>
    <a href="/talks/">Talks</a>
  </nav>
</header>
