---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---

// Import partials from `sass_dir` (defaults to `_sass`)
@use "base";
@use "layout";
@use "custom";
@use "syntax-highlighting";

@charset "utf-8";
