#share-group {
	font-size: 1.25em;
	margin-bottom: 24px;

	a {
		display: inline-block;
		margin-right: 10px;
		color: #bbc7cc;
		transition: color 0.2s ease 0s;
		text-decoration: none;

		&:hover {
			color: #50585d;
			text-decoration: none;
		}

		.share-icon {
			width: 2em;
			height: 2em;
			color: $header-footer-background-color;
		}
	}
}

.footer-icon {
	width: 2em;
	height: 2em;
	color: $header-footer-text-color-light;
}
