<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body>
    {% include "header.njk" %}

    <main class="container">
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    {% include "analytics.njk" %}
  </body>
</html>
