---
layout: base.njk
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
    <p class="post-meta">{{ date | dateDisplay }}{% if author %} - {{ author }}{% endif %}{% if meta %} - {{ meta }}{% endif %}</p>
  </header>

  <div class="post-content">
    {{ content | safe }}
  </div>
</article>

<!--TODO: Share-->
