---
layout: base.njk
title: "Blog"
permalink: /blog/
---

<header class="page-header">
  <h1 class="page-title">{{ title }}</h1>
</header>

<ul class="post-list">
  {% for post in collections.posts %}
  <li class="post-list-item">
    <span class="post-list-date">{{ post.date | dateDisplay }}</span>
    <a href="{{ post.url }}" class="post-list-title">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>

<p class="rss-link">Subscribe <a href="http://feeds.feedburner.com/KevinPelgrims">via RSS</a></p>
