---
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <description>{{ metadata.description }}</description>
    <link>{{ metadata.url }}/blog/</link>
    <atom:link href="{{ metadata.url }}/blog/feed.xml" rel="self" type="application/rss+xml"/>
    <pubDate>{{ collections.posts[0].date }}</pubDate>
    <lastBuildDate>{{ collections.posts[0].date }}</lastBuildDate>
    <generator>Eleventy</generator>
    {%- for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <description>{{ post.templateContent }}</description>
      <pubDate>{{ post.date }}</pubDate>
      <link>{{ metadata.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ metadata.url }}{{ post.url }}</guid>
      {%- for tag in post.data.tags %}
      {%- if tag != "posts" %}
      <category>{{ tag }}</category>
      {%- endif %}
      {%- endfor %}
    </item>
    {%- endfor %}
  </channel>
</rss>
