@use "layout" as *;

#share-group {
	font-size: 1.25em;
	margin-bottom: 24px;

	a {
		display: inline-block;
		margin-right: 10px;
		color: #bbc7cc;
		transition: color 0.2s ease 0s;
		text-decoration: none;

		&:hover {
			color: #50585d;
			text-decoration: none;
		}

		.share-icon {
			width: 2em;
			height: 2em;
			color: $header-footer-background-color;
		}
	}
}

.footer-icon {
	width: 2em;
	height: 2em;
	color: $header-footer-text-color-light;
}

.tag-link-list {
	list-style: none;
	margin: 0;
}

.tag-link-list-item {
	display: inline;
}

.tag-link {
	background-color: $header-footer-background-color;
	color: $header-footer-text-color-light;
	padding: 5px 10px;
	margin: 5px 2px;
	text-align: center;
	display: inline-block;
	border-radius: 8px;

	&:hover {
		color: $header-footer-text-color-light;
	}
}
