name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - master
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 25
      - name: Build site
        run: cd src && npm run build
      - name: Deploy to Firebase (production)
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEVINPELGRIMS_COM }}'
          channelId: live
          projectId: kevinpelgrims-com
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
